@using CV_ASP.net.Tools
@model CVViewModel
@inject SessionManager _session

@{
    ViewData["Title"] = "Selected CV";
}

<h1>Welcome @_session.CurrentUser?.ScreenName</h1>

<h2>Your CV: </h2>

<style type="text/css">
    #vertical thead,#vertical tbody{
        display:inline-block;
    }
</style>

<h3>Personal Info</h3>

<table id="vertical" class="table">
    <thead>
        <tr>
            <th>
                CV Nº
            </th>
        </tr>
        <tr>
            <th>
                Name
            </th>
        </tr>
        <tr>
            <th>
                Surname
            </th>
        </tr>
        <tr>
            <th>
                Adress
            </th>
        </tr>
        <tr>
            <th>
                SmartPhone
            </th>
        </tr>
        <tr>
            <th>
                Email
            </th>
        </tr>
        <tr>
            <th>
                Miscellaneous
            </th>
        </tr>
        <tr>
            <th>
                Quality 1.
            </th>
        </tr>
        <tr>
            <th>
                Quality 2.
            </th>
        </tr>
        <tr>
            <th>
                Quality 3.
            </th>
        </tr>
        <tr>
            <th>
                Faults
            </th>
        </tr>
        <tr>
            <th>
                Last Degree
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Personal.Id
            </td>
        </tr>
        <tr>
            <td>
                @Model.Personal.Name
            </td>
        </tr>
        <tr>
            <td>
                @Model.Personal.Surname
            </td>
        </tr>
        <tr>
            <td>
                @Model.Personal.Adress
            </td>
        </tr>
        <tr>
            <td>
                @Model.Personal.Gsm
            </td>
        </tr>
        <tr>
            <td>
                @Model.Personal.Email
            </td>
        </tr>
        <tr>
            <td>
                @Model.Personal.Misc
            </td>
        </tr>
        <tr>
            <td>
                @Model.Personal.FirstQuality
            </td>
        </tr>
        <tr>
            <td>
                @Model.Personal.SecondQuality
            </td>
        </tr>
        <tr>
            <td>
                @Model.Personal.ThirdQuality
            </td>
        </tr>
        <tr>
            <td>
                @Model.Personal.FirstFault
                @Model.Personal.SecondFault
                @Model.Personal.ThirdFault
            </td>
        </tr>
        <tr>
            <td>
                @Model.Personal.LastDegree
            </td>
        </tr>
    </tbody>
</table>
<br />
<h3>Technical Skills</h3>

<table>
    <thead>
        <tr>
            <th colspan="3">
                Skills
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Skills)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Skill)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<h3>Professional Experience</h3>

<table>
    <thead>
        <tr>
            <th>
                Period
            </th>
            <th>
                Employer
            </th>
            <th>
                Position
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Professions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PeriodBegin) - @Html.DisplayFor(modelItem => item.PeriodEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Position)
                </td>
            </tr>
        }
    </tbody>
</table>