@using CV_ASP.net.Tools
@model IndexViewModel
@inject SessionManager _session

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@*<p>Bonjour : @ViewContext.HttpContext.Session.GetString("ScreenName")</p>*@
<p>Bonjour : @_session.CurrentUser?.ScreenName</p>
@if (!(_session.CurrentUser is null))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<style type="text/css">
    #vertical thead,#vertical tbody{
        display:inline-block;
    }
</style>
<table id="vertical" class="table">
    <thead>
        <tr class="table-primary">
            <th>
                Id
            </th>
        </tr>
        <tr class="table-success">
            <th>
                Name
            </th>
        </tr>
        <tr class="table-primary">
            <th>
                Surname
            </th>
        </tr>
        <tr class="table-success">
            <th>
                Adress
            </th>
        </tr>
        <tr class="table-primary">
            <th>
                SmartPhone
            </th>
        </tr>
        <tr class="table-success">
            <th>
                Email
            </th>
        </tr>
        <tr class="table-primary">
            <th>
                Miscellaneous
            </th>
        </tr>
        <tr class="table-success">
            <th>
                Quality 1.
            </th>
        </tr>
        <tr class="table-primary">
            <th>
                Quality 2.
            </th>
        </tr>
        <tr class="table-success">
            <th>
                Quality 3.
            </th>
        </tr>
        <tr class="table-primary">
            <th>
                Faults
            </th>
        </tr>
        <tr class="table-success">
            <th>
                Last Degree
            </th>
        </tr>
        <tr>
            <th>
                <br />
            </th>
        </tr>
    </thead>
    <tbody>
            <tr class="table-primary">
                <td>
                    @foreach (var item in Model.Persons)
                    {
                        @Html.DisplayFor(modelItem => item.Id)
                    }
                </td>
            </tr>
            <tr class="table-success">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
            <tr class="table-primary">
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
            </tr>
            <tr class="table-success">
                <td>
                    @Html.DisplayFor(modelItem => item.Adress)
                </td>
            </tr>
            <tr class="table-primary">
                <td>
                    @Html.DisplayFor(modelItem => item.Gsm)
                </td>
            </tr>
            <tr class="table-success">
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
            </tr>
            <tr class="table-primary">
                <td>
                    @Html.DisplayFor(modelItem => item.Misc)
                </td>
            </tr>
            <tr class="table-success">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstQuality)
                </td>
            </tr>
            <tr class="table-primary">
                <td>
                    @Html.DisplayFor(modelItem => item.SecondQuality)
                </td>
            </tr>
            <tr class="table-success">
                <td>
                    @Html.DisplayFor(modelItem => item.ThirdQuality)
                </td>
            </tr>
            <tr class="table-primary">
                <td>
                    @Html.DisplayFor(modelItem => item.FirstFault)
                    @Html.DisplayFor(modelItem => item.SecondFault)
                    @Html.DisplayFor(modelItem => item.ThirdFault)
                </td>
            </tr>
            <tr class="table-success">
                <td>
                    @Html.DisplayFor(modelItem => item.LastDegree)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
                    @Html.ActionLink("Select", "Select", new { id=item.Id })
                </td>
            </tr>
    </tbody>
</table>